

/* Hide status */
.hider-status {
	
	--background_light: #f5f5f5 ;
	--color-text-light: #0d0d0d ; /* 0d0d0d  1a1a1a cfcfcf*/

	--background_dark: #272b34 ;
	--color-text-dark: #cfcfcf ; /* cfcfcf  0d0d0d  1a1a1a cfcfcf*/

}


.theme-light {
	
	
	--background-primary: var(--background_light)  !important ;
	--color-text-note:    var(--color-text-light)  !important ;
	
}



.theme-dark{

	--background-primary: var(--background_dark)  !important ;
	--color-text-note:    var(--color-text-dark)  !important ;
}




.cm-line{

	color: var(--color-text-note);

}